@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.navbar {
  padding: 20px;
  background-color: #fcaf02;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

ul {
  margin-right: 40px;
  display: flex;
  list-style: none;
  gap: 40px;
}
li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

main {
  padding: 20px;

  background-color: black;
  color: white;
}
header {
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.left-header {
  text-align: left;
  padding: 20px;
}

.left-header > h1 {
  margin-bottom: 40px;
}

.left-header > p {
  margin-bottom: 40px;
  line-height: 1.5rem;
  font-weight: 400;
}

.left-header-button,
.contact-us-submit {
  width: 323px;
  height: 66px;
  border-radius: 500px;
  opacity: 0px;
  font-size: large;
  font-weight: 800;
  background-color: #fcaf02;
  margin-top: 20px;
  bottom: 0;
}

img {
  width: 697px;
  height: 482px;
  top: 173px;
  left: 1678px;
  gap: 0px;
  opacity: 0px;
  transform: rotate();
}

.contact-us-page {
  padding: 20px;

  background-color: black;
  color: #fcaf02;
}

input::placeholder {
  color: #fcaf02;
  font-size: 20px;
  padding-left: 20px;
}

.contact-us-page input {
  margin-top: 20px;
  background-color: black;
  border: 2px solid #fcaf02;
  border-radius: 10px;
  width: 100%;
  height: 52px;
  border-radius: 100px;
  opacity: 0px;
}

.contact-mobile-city{
        display: flex;
        max-width: 100%;
        gap: 10px;
}
